.main {
    background-color: black;
    color: white;
}

.login_div {
    background-color: red;
    width:  300px;
    display: flex;
}
.login_div div {
    margin: 20px auto;
    width: 300px;
}

.login_form label {
    width:90px;
    text-align: right;
}

