<div class="register">
    <form (ngSubmit)="onSubmit">
        <div> <label>邮箱：</label><input type="email" [formControl]="email"><label id="emailAttention"> </label></div>
        <div><label>用户名：</label><input type="text" [formControl]="accountName"> </div>
        <div><label>密码：</label><input type="password" [formControl]="password"></div>
        <div><label>确认密码</label><input type="password" [formControl]="confirmPassword"><label id="confirmPasswordAttention"></label></div>
        <button type="submit">注册</button>
    </form>
</div>
